<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Noti_Mail_TCCC.Properties.Settings.WolfApproveCore_QAR2ConnectionString"
            connectionString=""
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	<appSettings>
		
		<add key="ConnectionString" value="data source=DESKTOP-LJ96038\SQLEXPRESS;initial catalog=WolfApproveCore.TCCC;persist security info=True;user id=sa;password=pass@word1;multipleactiveresultsets=True;application name=EntityFramework"/>
		<add key="DestDocumentCode" value="CAR"/>

		<add key="MailToTestMode" value=""/>
		
		<!--SMTP Setting-->
		<add key="SMTPServer" value="smtp.office365.com"/>
		<add key="SMTPPort" value="587"/>
		<add key="SMTPEnableSSL" value="true"/>
		<add key="SMTPUser" value="wolf01@wolfapprove.com"/>
		<add key="SMTPPassword" value="Qok70281"/>
		<!--SMTP Setting-->
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>